{% extends "base_auth.html" %}

{% block content %}	
	<form id="register_form" class="col-xl-9 col-sm-12 text-white border border-white" action="" method="post"> 
		{% csrf_token %}
		<div class="center-block container-fluid form_data">
		
			<div class="row">
				<h2 class="border border-white bg-black">CHANGE PASSWORD</h2>
			</div>

			<div class="row">
				<label class="label" for="id_old_password">Current password:</label>
				{{form.old_password}}
			</div><br>
			
			<div class="row">
				<label class="label" for="id_new_password">New password:</label>
				{{form.new_password}}
			</div><br>
			
				<p class="text-danger text-center">{{result.failure}}</p>
				<p class="text-success text-center">{{result.success}}</p>
			
			<div class="row">
				<input id="submit_change_password" class="text-white border border-white bg-black submit_button" type="submit" value="Submit">
			</div>
		</div>
	</form>
{% endblock %}